



/*HEADER*/
header {
  position: relative;
	margin:0px 0 20px;
  border-bottom: solid 3px $light-blue;


}


header nav {
  margin: 0;
  z-index: 5;
  position: relative;

}

header li {
	font-size: 1em;
	display: block;
  padding: 0;
  position: relative;
  background-image: none;


  &:hover{
    background-color: transparentize($light-blue,0.8);
    a{
      background: none;
    }
  }
}

header #navigation_menu li ul.sub-menu{
  margin: 0;
  padding-bottom: 0;
}

header a {
	font-size: 1.4em;
	display: block;
	transition: all 0.3s;
  text-transform: uppercase;
  font-style: normal;
  color: $dark-blue;
  border-bottom: 0;

}

header a:link, header a:visited, header a:hover, header a:active{
	color: white;
  border-bottom: 0;
}


a.branding {
	text-align: center;
  text-indent: -999999px;
  background-image: url('../img/logo-fpma.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 266px;
  height: 90px;
  margin:15px 0 10px 0;
  max-width: 95%;
  background-position: bottom;

  &:hover {
    background-color: rgba(255,255,255,0)!important;
  }
}



#menu_button {
	 text-indent: 40px;
    background: url('../img/menu.svg') no-repeat center center;
    background-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
		text-indent: -9999px;
    z-index: 301;
    top: 10px;
    right: 15px;
    margin: 0;
    font-size: 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 1.4em;
    font-weight: bold;
}


#navigation_menu {
	position: fixed;
	z-index: 20000;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width:250px;
	background: transparentize($dark-blue, 0.1);
	padding: 15px;
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	transform: translateX(-300px);
	-webkit-transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);
	-moz-transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);
	-ms-transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);
	-o-transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);
	transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);

}

#navigation_menu.menu_visible {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 0 0 30px transparentize($dark-blue, 0.5);
  overflow:scroll;
}
#navigation_menu ul {
	margin-top: 80px
}

#navigation_menu a {

	text-decoration: none;
	display: block;
	padding:10px;
	color: white;

}

#navigation_menu a:hover {

}

#navigation_menu li {

  margin-top: 0;
  margin-right: 15px;
  position: relative;
  padding: 0 15px;
  background-position: top 13px left;

}

.circles {
  .container {position: relative;}
  pointer-events: none;
}


.circle1{
  border-radius:50%;
  background:$light-blue;
  opacity: 0;
  width: 300px;
  height: 300px;
  position: absolute;
  left: -270px;
  animation: scale1 8s 7s ease-in-out infinite alternate, fadein1 7s 0s ease-in-out forwards;
}
@keyframes fadein1 {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0.17;
    }
}

@keyframes scale1 {
    0% {
        transform: scale(1);
        opacity: 0.17;
    }
    100% {
        transform: scale(0.7);
        opacity: 0.35;
    }
}

.circle2{
  border-radius:50%;
  background:$light-blue;
  opacity: 0;
  width: 330px;
  height: 330px;
  position: absolute;
  left: -400px;
  top: 190px;
  animation: scale2 7s 2s ease-in-out infinite alternate, fadein2 3s 0s ease-in-out forwards;
}

@keyframes fadein2 {
  0% {
      opacity: 0;
  }
  80% {
      opacity: 0;
  }
    100% {
        opacity: 0.1;
    }
}

@keyframes scale2 {
    0% {
        transform: scale(1);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0.23;
    }
}

.circle3{
  border-radius:50%;
  background:$light-blue;
  opacity: 0;
  width: 600px;
  height: 600px;
  position: absolute;
  right: -70px;
  top: -230px;
  animation: scale3 4s 2s ease-in-out infinite alternate, fadein3 2s 0s ease-in-out forwards;
}

@keyframes fadein3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.16;
    }
}

@keyframes scale3 {
    0% {
        transform: scale(1);
        opacity: 0.16;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.32;
    }
}

.circle4 {
    border-radius: 50%;
    background: #a2bfdc;
    opacity: 0;
    width: 380px;
    height: 380px;
    position: absolute;
    right: -190px;
    top: 240px;
    animation: scale4 6s 5s ease-in-out infinite alternate, fadein4 5s 0s ease-in-out forwards;
  }

  @keyframes fadein4 {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
      100% {
          opacity: 0.21;
      }
  }

@keyframes scale4 {
    0% {
        transform: scale(1);
        opacity: 0.21;
    }
    100% {
        transform: scale(1.2);
        opacity: 0.3;
    }
}


@media (min-width:768px){

	#menu_button {display: none}
	#navigation_menu {padding:0;bottom:auto;height:auto;width:100%;background: none;-webkit-transform:none; -moz-transform:none; -ms-transform:none; -o-transform:none; transform:none;position: static}
	#navigation_menu ul {margin: 0; padding-bottom: 0;}
	#navigation_menu li {display: inline-block; padding: 0;}
  #navigation_menu li.mobileonly {display: none;}
	#navigation_menu a {padding:10px 5px 10px;display: inline-block;color: $dark-blue;}
  #navigation_menu.menu_visible{box-shadow: none;}
	a.branding {text-align: left;}

  header nav li ul.sub-menu {
    opacity: 0;
    position: absolute;
    top: 38px;
  background-color: transparentize($light-blue,0.8);
    min-width: 200px;
    text-align: left;

    li {
      background: none;
      display: block!important;
      margin: 0!important;
      a{
        display: block!important;
        margin: 0;
        padding: 12px 10px!important;
        border-radius: 0;
        border-bottom:solid 1px $dark-blue;
      }
    }
  }

  header li:hover ul.sub-menu{
    opacity: 1;

    a:hover{
      background-color: transparentize($light-blue,0.8);
    }
  }

}

@media(min-width:992px){
  a.branding{
    position: absolute;
    top:20px;
    left: 20px;
    margin: 0;
  }
  #navigation_menu{text-align: right;}
  header nav li ul.sub-menu {
    top: 81px;
  }
}

@media(min-width:992px){
  	#navigation_menu a {padding:55px 8px 10px;}
}
