section.home-welcome{
  margin-top: 70px;
  padding-bottom: 50px;
}


section.blue_bg{
  @include linear-gradient(132deg, lighten(#8cc1ff, 20), #8cc1ff);
  margin-top: 65px;

  .white_banner{
    background: rgba(255,255,255,0.36);
    text-align: center;
    padding: 30px 15px;
  }
}

.box {
  border-radius: 15px;
  padding: 15px 50px;
  color: white;
  position: relative;
  margin: 0px 0 50px;
  font-size: 0.8em;

  h3 {
    position: relative;
    text-align: center;
    z-index:1;
    opacity: 1;
    padding: 10px 15px;
    height: 70px;
  }

  .box_content {
    position: relative;
    z-index:1;
    opacity: 1;

    li {
      background-image: url('../img/arrowbullet.png');
    }
    a {
      color: white;
      display: block;
      &:active, &:visited, &:focus {
        color: white;
      }
    }
  }

  &:after{
    content:'';
    @include linear-gradient(-45deg, #2a72b9, #4cb9dd);
    border-radius: 15px;
    position: absolute;
    top:0;
    bottom:0;
    left:15px;
    right:15px;
    opacity: 0.8;
    z-index:0;
  }

  h6 a, a h6 {
    display: block;
    border: solid 2px white;
    position: relative;
    z-index: 9;

    &:hover, &:focus, &:active{
      border-bottom: solid 2px white;
    }
  }

  &:first-child{
    margin: -65px 0 50px;
  }
}

@media (min-width: 768px){
  // section.home-welcome {min-height: calc(100vh - 220px); max-height: 650px;}
  .box {margin: -65px 0 50px;}
  .box:after {left:25px;right:25px;}
  section.home-welcome img {width: 160%; position: relative;left:-30px;}
}

@media (min-width: 970px){
  section.home-welcome img {width: 160%; position: relative;left:-50px;}
}

@media (min-width: 1100px){
  section.home-welcome img {width: 100%; position: relative;left:0px;}
}



section.news {
  padding: 70px 0px;
  .container {
    position: relative;
  }
}


h6.all_news {
  position: absolute;
  top: -50px;
  right: 20px;
  a {
    background: none;
    border: solid 2px $dark-blue;
    font-weight: bold;
    color: $dark-blue!important;
    &:active, &:link, &:visited {
      color: $dark-blue!important;
    }
    &:hover {
      border-bottom: solid 2px $dark-blue!important;
      background: $dark-blue;
      color:white!important;
      &:after {
        background-image: url('../img/arrow-white.png');
      }
    }
    &:after {
      background-image: url('../img/arrow-blue.png');
    }
  }
}

.news_box {
  border-radius: 15px;
  margin: 0 20px;
  border: solid 2px $dark-blue;
  padding: 30px 15px 40px;
  position: relative;

  .news_date {
    font-size: 1.4em;
    font-style: italic;
    margin: -10px 0 10px;
    color: #909090;
  }

  p{
    font-size: 1.6em!important;
  }

  .view-article {
    display: none;
  }

  a.readmore {
    border-radius: 0 0 15px 15px;
    display: block;
    font-size: 1.4em;
    padding: 10px 20px;
    background: $dark-blue;
    margin: 0 -17px -2px;
    color: white;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: -2px;
    left: 15px;
    right: 15px;

    &:after {
      content: '';
      background-image: url(../img/arrow-white.png);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 20px;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      z-index: 9999;
      width: 35px;
      pointer-events: none;
    }
  }

  &.actualite_news_box{
    width: 100%;
    margin: 0 0 50px;
  }
}


  button.slick-arrow {
      text-indent: -99999999px;
      border: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50px;
      background-image: url('../img/arrow-slider-left.png');
      background-color: white;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 15px;

      &.slick-next {
        left:auto;
        right: -50px;
        background-image: url('../img/arrow-slider-right.png');
      }
      &.slick-prev {left:-20px;}
      &:focus {
          outline: 0;
      }

  }


  .news_slider_container {margin: 0 20px;}


  .pagination {
    font-size: 2em;

    .page-numbers{
      display: inline-block;
      padding: 5px;
      border: 0;
      color: $dark-blue;

      &.current{
        background: transparentize($light-blue, 0.75);
      }
    }
}



  @media (min-width:500px) {
    h6.all_news{top:0;}
  }
  @media (min-width:768px) {
    h6.all_news{right:50px;}
  }

  @media (min-width: 1100px){
      .news_slider_container {margin: 0 -20px;}
      button.slick-arrow { background-size: 30px; }
      button.slick-prev.slick-arrow {left:-50px;}
      h6.all_news{right:10px;}
  }
